.ink {
    width: 370px;
    height: auto;
    object-position: center;
    padding: 50px; 
    margin: 20px;
    margin-left: 120px;
    
}

.title{
    color: rgb(255, 73, 73);
    font-size: 220%;
    border: burlywood solid  ;
    text-align: center;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.message{
    list-style-position: inside;
    border: solid rgb(246, 255, 240) ;
    border-radius: 30px;
    border-left: 2px;
    margin-left: 50%;
    background-color: rgb(246, 255, 240);
}
.main {
    object-position: center; 
    color: rgb(246, 255, 240); 
    margin-top: 10%;
    margin-left: 50%;
      
    list-style-position: inside;
    font-size: 120%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
    color: rgb(10, 157, 255);
}
